<!DOCTYPE html>
<html>
  <head>
    
    <link rel="icon" type="image/png" href="http://cdn.thewhoot.com.au/wp-content/uploads/2014/10/Red-Velvet-Cheesecake.jpg" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    
    <title> Bake </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>

  <body>
    
  <nav class="navbar navbar-inverse">
      <ul>
    <button type="button" class="btn btn-primary btn-lg"><li><a href="home.html">Home</a></li></button>
    <button type="button" class="btn btn-secondary btn-lg"><li><a href="about.html">About</a></li></button>
    <button type="button" class="btn btn-secondary btn-lg"><li><a href="suggest.html">Suggestions</a></li></button>
    <button type="button" class="btn btn-secondary btn-lg"><li><a href="category.html">Category's</a></li></button>
     </ul>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>